<!-- How the games array will be available here -->
<div class="show-all-products">
  <% for( let index = 0; index < products.length; index++ ) { %>
  <div class="items">
    <div class="products">
      <div><img class="image" src="<%=products[index].image%>" /></div>
      <h3><%=products[index].title%></h3>
      <div class="info">
        <span>Description:<%= products[index].description %></span>
      </div>
      <div class="price"><span>Price:<%= products[index].price %></span></div>
    </div>
    <div class="button">
      <a href="/products/cart/<%=products[index]._id %>">Add to Cart</a>
    </div>
  </div>
  <% } %>
</div>
